{% extends 'halalan2022/base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center">About Me</h1>
<div class="text-center">
    <img src="{% static 'halalan2022/about-me.png' %}" height="200px;" width="200px;" class="rounded" alt="about-me">
</div>
<br>
<p class="text-justify">
    <p class="font-weight-bold">Veronica Isabel Q. Gotangco</p>
    2 BS Management Information Systems 
    <br>
    This website is made in partial fulfillment of my MSYS 22 class
    <br>
    I like playing gacha games
    <br>
    <p class="font-weight-bold">Picrew Credit: <a href='https://picrew.me/image_maker/1589275'>鱈メーカー2</a></p>
</p>
{% endblock %}