{% extends 'halalan2022/base.html' %}

{% block content %}
<div class="card">
    <h5 class="card-header">Halalan 2022: Voting Form</h5>
    <div class="card-body">
        <h5 class="card-title">List of Candidates</h5>
        <form method="POST" action="{% url 'vote' uid=usrid %}">{% csrf_token %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="votes">
                <label class="form-check-label" for="votes">
                    {{c.first_name}} {{c.last_name}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="votes">
                <label class="form-check-label" for="votes">
                    {{d.first_name}} {{d.last_name}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="votes">
                <label class="form-check-label" for="votes">
                    {{e.first_name}} {{e.last_name}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="votes">
                <label class="form-check-label" for="votes">
                    {{f.first_name}} {{f.last_name}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="votes">
                <label class="form-check-label" for="votes">
                    {{g.first_name}} {{g.last_name}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="votes">
                <label class="form-check-label" for="votes">
                    {{h.first_name}} {{h.last_name}}
                </label>
            </div>
            <div class="form-group">
                <br>
                <label for="comments">Comments</label>
                <textarea class="form-control" id="comments" name="comments"></textarea>
            </div>
            <button class="btn btn-success" type="submit">Submit Vote</button>
        </form>
    </div>
</div>
{% endblock %} 